<nav class="navbar navbar-default app-header">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Home</a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          About
        </a>
      </li>
      <li>
        <a href="#">
          Menu
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
