.footer-content-block {
  float: left;
}
.footer-menu-links {
  font-weight: 800;
}
.footer-address {
  font-weight: 800;
}
.footer-cover-block {
  background: #afafaf;
  display: flex;
  padding:1rem 0;
}
.footer-content-block ul {
  list-style: none;
  padding: 1rem 0;
}
.footer-content-block address {
  list-style: none;
  padding: 1rem 0;
}

.footer-links {
  padding: 0;
  margin-top: 6rem;
}
.footer-links li{
  float: left;
  margin: 0 0.2rem;
}
.copy-text {
  text-align:center;
}
